<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Edit</title>
</head>

<h1 style="text-align:center;"> Editar {{ c_nome.nome }} </h1>
    <body>
        <form action="/edit/{{ c_nome.id }}" class="container" method="post">
            <div class="row">
                <div class="col-md-6">
                    <input type="text" name="nome" id="nome" placeholder="nome" class="form-control" value ="{{ c_nome.nome }}">
                </div>

            </div>
            <br>
                <div class="row col-xs-12">
                    <button type="submit" class="btn btn-block btn-success">Enviar</button>
                </div>
        
        </form>
    </body>
</html>
