<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>CRUD</title>
</head>
    <body>
    <h1 style="text-align: center;"> CRUD </h1>

    <div class="container">
        <div class="col-xs-12">
            <a href="/add">Adicionar Nomes</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for e in c_nomes%}
                            <tr>
                                <td>{{e.id}}</td>
                                <td>{{e.nome}}</td>
                                <td>
                                    <a href="edit/{{e.id}}">Editar</a> |
                                    <a href="delete/{{e.id}}">Excluir</a>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
            </div>
        </div>



    </div>
    </body>
</html>
